:root {
  --ink: #171717;
  --paper: #f4f0e7;
  --white: #fffdf8;
  --orange: #ff7040;
  --blue: #9db3f5;
  --yellow: #f1e57b;
  --pink: #eeb9f1;
  --green: #3f8776;

  --font-main: Arial, Helvetica, sans-serif;
  --radius: 24px;
}